@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 2fr 100px 100px 100px 2fr;
  grid-template-rows: 3fr 20px 100px 100px 100px 2fr;
  grid-gap: 5px;

  margin: 0;
  font-family: 'Rock Salt', Helvetica;
  height: 100vh;
  background-image: url('spacebkgd.jpg');
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Iceberg', serif;

  height: 100%;
  background-color: none;
}

div {
  color: #ffffff;
  margin: 10px;
  font-size: 5em;
}

lSide,
rSide {
  grid-row: span 4;
}

board {
  background-color: #848588;
  cursor: pointer;
  font-size: 4em;
  opacity: 50%;
}

footer {
  background-color: none;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav,
footer {
  grid-column: span 5;
}

#blank {
  grid-column: span 3;
  grid-row: span 1;
  color: #ffffff;
}

#done {
  pointer-events: none;
}
