body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #514644;
    justify-content: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    background: #efc8b1;
    margin-top: 60px;
    border-radius: 20px;
    
}

.title{
    text-align: center;
}

.background section {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 30px;
}

#reset {
    font-size: 12px;
    height: 20px;
    margin-top: 20px;
    color: #fdd7c1;
    background-color: #514644;
    transition: 0.5s;
}

.reset:hover {
    background-color: #efc8b1;
    color: #514644;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 12px 12px;
    margin: 20px 30px 30px;
    background-color: #514644;
    
}

.game-square {
    background-color: #efc8b1;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.playerX {
    color: black;
    font-size: 30px;
    text-align: center;
}

.playerO {
    color: white;
    font-size: 30px;
    text-align: center;
}